{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        <article class="post" id="top">
          {{ partial "post/header.html" . }}
          <div class="post-content markdown">
            <div class="main-content-wrap">
              {{ .Content }}
              {{ partial "post/gallery.html" . }}
            </div>
          </div>
          {{ if (not (eq .Params.showFoot false)) }}
            <div id="post-footer" class="post-footer main-content-wrap">
              {{ partial "post/comment.html" . }}
              {{ partial "post/actions.html" . }}
            </div>
          {{ end }}
        </article>
        {{ partial "footer.html" . }}
      </div>
      {{ if (not (eq .Params.showFoot false)) }}
        <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
          {{ partial "post/actions.html" . }}
        </div>
      {{ end }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
