{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-bar">
    <ul class="pagination">
      <li class="pagination-number">{{ i18n "pagination.page" . }} {{ i18n "pagination.of" . }}</li>
      {{ if .Paginator.HasNext }}
        <li class="pagination-next">
          <a class="btn btn--default btn--small" href="{{ .Paginator.Next.URL }}" aria-label="{{ i18n "pagination.next" }}">
            <span>{{ i18n "pagination.next" }}</span>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      {{ end }}
      {{ if .Paginator.HasPrev }}
        <li class="pagination-prev">
          <a class="btn btn--default btn--small" href="{{ .Paginator.Prev.URL }}" aria-label="{{ i18n "pagination.previous" }}">
            <i class="fa fa-angle-left"></i>
            <span>{{ i18n "pagination.previous" }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
