.archive {
    .archive-title {
        color: $font-color-base;
        &:hover {
            text-decoration: underline;
        }
    }
    .archive-posts {
        list-style: none;

        .archive-post {
            .archive-post-title {
                color:       $font-color-base;
                &:hover {
                    text-decoration: underline;
                }
            }
            .archive-post-date {
                color: map-get($colors, light);
            }
        }
    }
}
