// Highlight code block
.highlight {
    margin: 0.8em 0 0 0;
}

pre {
    position: relative;
    background-color: inherit;
    font-family:      #{map-get($font-families, 'highlight')};
    border:           none;
    padding:          0;
    margin:           0;
    // To override cursor attribute of `.tag` components
    cursor:           text;
}

.highlight, pre, code {
    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #e5e5e5;
    }
    &::-webkit-scrollbar-track {
        background: #fafafa;
    }
}

.code-lang-label {
    display: flex;
    position: absolute;
    top: 7px;
    left: 10px;
    background: #e5e5e5;
    border-radius: 5px;
    padding: 0 5px;
    height: 2rem;
    font-size: 1.2rem;
    align-items: center;
}

.copy-code-btn {
    display: flex;
    position: absolute;
    top: 6px;
    right: 8px;
    background: transparent;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}