// Add margin to an element
// Specifically implement for font-awesome's icons to add space between icon and text in a button
.icon-mt {
    margin-top: 10px;
}

.icon-mr {
    margin-right: 5px;
    vertical-align: top;
}

.icon-mb {
    margin-bottom: 10px;
}

.icon-ml {
    margin-left: 5px;
    vertical-align: top;
}